<div class="row" ng-if="model.arts.length > 0 && !isOnAddEditMode()">
    <div class="col-sm-12">
        <span class="hideInPrint">
            <span class="dropdown">
                <label class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-attr-title="{{'download'| translate}}"><i class="fa fa-download"></i></label>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">{{'download'| translate}}</h6></li>
                    <li class="divider"></li>
                    <li><a href filename="recommendaiton-list.csv" ng-click="exportData()">{{'csv'| translate}}</a></li>
                    <li><a href filename="recommendaiton-list.pdf" onclick="javascript:window.print()">{{'pdf'| translate}}</a></li>
                </ul>
            </span>
            <label class="btn btn-default horizontal-spacing" ng-click="showHideColumns()" ng-attr-title="{{'show_hide_columns'| translate}}">
                <i class="fa fa-table label-font"></i>
            </label>
            <label class="long-horizontal-spacing">
                {{'total_no_recommendations' | translate}} = {{model.arts.length}}
            </label>
        </span>
    </div>
    <div class="col-sm-12" id="exportTable">
        <table class="table table-bordered dhis2-table-hover table-responsive">
            <thead>
                <tr>
                    <th class="vertical-center cursor-pointer"
                        ng-repeat="header in model.artHeaders"
                        ng-if="header.show">
                        <span ng-attr-title="{{'sort' | translate}}"  ng-click="sortItems(header)">
                            {{header.displayName}}

                            <!-- sort icon begins -->
                            <span class="fa-stack hideInPrint">
                                <span ng-class="{true: 'alert-danger'} [model.sortHeader.id === header.id && !reverse]"><i class="fa fa-sort-asc fa-stack-1x"></i></span>
                                <span ng-class="{true: 'alert-danger'} [model.sortHeader.id === header.id && reverse]"><i class="fa fa-sort-desc fa-stack-1x"></i></span>
                            </span>
                            <!-- sort icon ends -->
                        </span>

                        <!-- filter icon begins -->
                        <span class='pull-right hideInPrint' ng-attr-title="{{'search' | translate}}" ng-click="filterArts(header, false, false)">
                            <span ng-if="!header.filterWithRange" >
                                <span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [filterText[header.id] == undefined || filterText[header.id] == '']"><i class="fa fa-search"></i></span>
                            </span>
                            <span ng-if="header.filterWithRange">
                                <span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [(filterText[header.id].start == undefined || filterText[header.id].start == '') && (filterText[header.id].end == undefined || filterText[header.id].end == '')]"><i class="fa fa-search"></i></span>
                            </span>
                        </span>
                        <!-- filter icon ends -->

                        <!-- filter input begins -->
                        <span ng-if="header.showFilter">
                            <span ng-switch="header.valueType">
                                <span ng-switch-when="NUMBER">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" ng-model="filterText[header.id].start" ng-blur="filterArts(header, true, true)">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" ng-model="filterText[header.id].end" ng-blur="filterArts(header, true, true)">
                                </span>
                                <span ng-switch-when="INTEGER">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" ng-model="filterText[header.id].start" ng-blur="filterArts(header, true, true)">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" ng-model="filterText[header.id].end" ng-blur="filterArts(header, true, true)">
                                </span>
                                <span ng-switch-when="INTEGER_POSITIVE">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" min="1" ng-model="filterText[header.id].start" ng-blur="filterArts(header, true, true)">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" min="1" ng-model="filterText[header.id].end" ng-blur="filterArts(header, true, true)">
                                </span>
                                <span ng-switch-when="INTEGER_NEGATIVE">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" max="-1" ng-model="filterText[header.id].start" ng-blur="filterArts(header, true, true)">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" max="-1" ng-model="filterText[header.id].end" ng-blur="filterArts(header, true, true)">
                                </span>
                                <span ng-switch-when="INTEGER_ZERO_OR_POSITIVE">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'lower_limit' | translate}}" type="number" min="0" ng-model="filterText[header.id].start" ng-blur="filterArts(header, true, true)">
                                    <input style="width: 45%;" ng-attr-placeholder="{{'upper_limit' | translate}}" type="number" min="0" ng-model="filterText[header.id].end" ng-blur="filterArts(header, true, true)">
                                </span>
                                <span ng-switch-when="DATE">
                                    <input style="width: 70%;" ng-attr-placeholder="{{'start_date' | translate}}" type="text" ng-model="filterText[header.id].start" d2-date readonly="readonly" ng-blur="filterArts(header, true, true)">
                                    <span ng-hide="!filterText[header.id].start || filterText[header.id].start == undefined || filterText[header.id].start == ''">
                                        <a href ng-click='removeStartFilterText(header.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>
                                    </span>
                                    <input style="width: 70%;" ng-attr-placeholder="{{'end_date' | translate}}" type="text" ng-model="filterText[header.id].end" d2-date readonly="readonly" ng-blur="filterArts(header, true, true)">
                                    <span ng-hide="!filterText[header.id].end || filterText[header.id].end == undefined || filterText[header.id].end == ''">
                                        <a href ng-click='removeEndFilterText(header.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>
                                    </span>
                                </span>
                                <span ng-switch-when="TEXT">
                                    <span ng-if="header.optionSetValue">
                                        <ui-select multiple
                                                    ng-model="filterText[header.id]"
                                                    ng-click="filterArts(header, true, true)"
                                                    theme="bootstrap" style="width:90%;">
                                            <ui-select-match allow-clear="true" ng-attr-placeholder="{{'select_or_search'| translate}}">{{$item.displayName}}</ui-select-match>
                                            <ui-select-choices repeat="option in model.optionSets[header.optionSet.id].options | filter: $select.search | limitTo:maxOptionSize">
                                                <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </span>
                                    <span ng-if="!header.optionSetValue">
                                        <input type="text" style="width: 90%;" ng-model="filterText[header.id]" ng-blur="filterArts(header, true, true)">
                                    </span>
                                </span>
                                <span ng-switch-default>
                                    <input type="text" style="width: 90%;" ng-model="filterText[header.id]" ng-blur="filterArts(header, true, true)">
                                </span>
                            </span>
                        </span>
                        <!-- filter input ends -->

                    </th>
                    <th class="vertical-center">
                        {{'recommendation_age' | translate}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="art in model.arts" ng-class="{'green-background': art.trafficLight === 'green', 'yellow-background': art.trafficLight === 'yellow', 'red-background': art.trafficLight == 'red'}">
                    <td class="vertical-center"
                        ng-repeat="header in model.artHeaders"
                        ng-if="header.show"
                        ng-click="showEditArt(art)"
                        ng-attr-title="{{'show_details'| translate}}">
                        {{art[header.id]}}
                    </td>
                    <td>
                        {{art.age}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-warning" ng-if="model.arts.length === 0 && !isOnAddEditMode()">
    {{'no_arts_available' | translate}}
</div>
