<span id="showLeftBar" class="hideInPrint">
    <a href="javascript:dhis2.leftBar.showAnimated()" title="{{'show_menu'| translate}}"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</span>

<div id="leftBar">

    <div ng-if="!model.metaDataCached" class="small-horizontal-spacing">
        <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}"/><br>
        {{'loading_metadata'| translate}}
    </div>

    <div ng-show="model.metaDataCached">
        <div ng-include="'views/left-bar.html'"></div>
    </div>

</div>

<div class="page" id="mainPage">

    <div ng-if="!model.metaDataCached" class="font-16">
        <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}"/><br>
        {{'loading_metadata'| translate}}
    </div>

    <div ng-show="model.metaDataCached">
        <div ng-if="model.selectedMenu && model.selectedMenu.view" ng-include="model.selectedMenu .view"></div>
        <div ng-if="!model.selectedMenu || !model.selectedMenu.view" ng-include="'views/landing-page.html'"></div>
    </div>

</div>