<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped dhis2-table-hover">
            <thead>
                <tr>
                    <th class="vertical-center" ng-repeat="header in model.artHeaders">
                        {{header.displayName}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="art in model.arts">
                    <td class="vertical-center"
                        ng-repeat="header in model.artHeaders"
                        ng-click="showEditArt(art)"
                        ng-attr-title="{{'show_details'| translate}}">
                        {{art.attributeValues[header.id]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="alert alert-warning" ng-if="model.arts.length === 0 && !isOnAddEditMode()">
    {{'no_arts_available' | translate}}
</div>
