<h5>{{'art_dashboard'| translate}}</h5>
<div class="row">
    <div class="col-sm-6 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading bold">
                {{'art_status'| translate}}
            </div>
            <div class="panel-body small-pading">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="list-group col-sm-3 small-pading">
                            <a ng-repeat="stage in model.selectedProgram.programStages" class="list-group-item cursor-pointer" ng-class="{true: 'active'} [stage.id === model.selectedStage.id]" ng-click="setSelectedStage(stage)">
                                {{stage.displayName}}
                            </a>
                        </div>
                        <div class="col-sm-9 small-pading">
                            <table class="table table-responsive table-bordered table-striped small-bottom-margin" ng-if="model.selectedStage">
                                <tr>
                                    <th colspan="2">
                                        {{'details_of_state'| translate}} {{model.selectedStage.displayName}}
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{model.selectedStage.executionDateLabel}}
                                    </td>
                                    <td>
                                        <input type="text"
                                            ng-attr-placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                            name="{{model.selectedStage.id}}"
                                            class="form-control pull-center"
                                            d2-date
                                            min-date="model.art.enrollmentDate"
                                            ng-disabled="canAddOrEditStatus()"
                                            ng-required="true"
                                            ng-model="model.selectedEvent.eventDate"/>
                                        <span ng-messages="{{outerForm[model.selectedStage.id].$error}}" ng-if="interacted(outerForm[model.selectedStage.id])" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html"></span>
                                    </td>
                                </tr>
                                <tr ng-repeat="psde in model.selectedStage.programStageDataElements" ng-init="de = model.dataElementsById[psde.dataElement.id]">
                                    <td>
                                        {{de.displayName}}
                                    </td>
                                    <td>
                                        <ng-form name="innerStatusForm">
                                            <div ng-if="de.optionSetValue">
                                                <ui-select ng-model="model.selectedEvent.values[de.id]"
                                                           ng-required="psde.compulsory"
                                                           ng-disabled="canAddOrEditStatus()"
                                                           name="foo"
                                                           theme="select2"
                                                           style="width:100%;">
                                                    <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.optionSets[de.optionSet.id].options && model.optionSets[de.optionSet.id].options.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="option.displayName as option in model.optionSets[de.optionSet.id].options | filter: $select.search | limitTo:maxOptionSize">
                                                        <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div ng-if="!de.optionSetValue" ng-switch="de.valueType">
                                                <div ng-switch-when="NUMBER">
                                                    <input type="number"
                                                           name="foo"
                                                           class="form-control pull-center"
                                                           ng-disabled="canAddOrEditStatus()"
                                                           ng-required="psde.compulsory"
                                                           ng-model="model.selectedEvent.values[de.id]">
                                                </div>
                                                <div ng-switch-when="TEXT">
                                                    <input type="text"
                                                           name="foo"
                                                           class="form-control pull-center"
                                                           ng-disabled="canAddOrEditStatus()"
                                                           ng-required="psde.compulsory"
                                                           ng-model="model.selectedEvent.values[de.id]">
                                                </div>
                                                <div ng-switch-when="LONG_TEXT">
                                                    <textarea rows="3"
                                                              name="foo"
                                                              class="form-control pull-center"
                                                              ng-disabled="canAddOrEditStatus()"
                                                              ng-required="psde.compulsory"
                                                              ng-model="model.selectedEvent.values[de.id]">
                                                    </textarea>
                                                </div>
                                                <div ng-switch-when="DATE">
                                                    <input type="text"
                                                           ng-attr-placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                                           name="foo"
                                                           class="form-control pull-center"
                                                           d2-date
                                                           ng-disabled="canAddOrEditStatus()"
                                                           ng-required="psde.compulsory"
                                                           ng-model="model.selectedEvent.values[de.id]"/>
                                                </div>
                                            </div>
                                            <span ng-messages="innerStatusForm.foo.$error" ng-if="interacted(innerStatusForm.foo)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html"></span>
                                        </ng-form>
                                    </td>
                                </tr>
                            </table>
                            <div class="row col-sm-12">
                                <button type="button"
                                        class="btn btn-info"
                                        ng-click="saveStatus()">
                                    {{'save'| translate}}
                                </button>
                                <button type="button"
                                        class="btn btn-danger horizontal-spacing"
                                        ng-click="cancelEditStatus()">
                                    {{'cancel'| translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading bold">
                {{'art_profile'| translate}}
                <span class="nav-pills pull-right" ng-if="!addOrEditArtDenied()">
                    <a href ng-click="showEditProfile()" ng-attr-title="{{'edit_profile'| translate}}">
                        {{'edit'| translate}}
                    </a>
                </span>
            </div>
            <div class="panel-body small-pading">
                <table class="table table-responsive table-bordered table-striped small-bottom-margin">
                    <tr>
                        <td>
                            {{'recommendation_date'| translate}}
                        </td>
                        <td>
                            <input type="text"
                                   ng-attr-placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                   name="enrollmentDate"
                                   class="form-control hideInPrint"
                                   d2-date
                                   ng-disabled="addOrEditArtDenied() || !model.editProfile"
                                   ng-model="model.art.enrollmentDate"
                                   ng-required="true"/>
                            <span ng-messages="outerForm.enrollmentDate.$error" ng-if="interacted(outerForm.enrollmentDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html"></span>
                            <!--<span ng-show="outerForm.submitted && outerForm.enrollmentDate.$invalid" class="error">{{'required'| translate}}</span>-->
                        </td>
                    </tr>
                    <tr ng-repeat="pat in model.selectedProgram.programTrackedEntityAttributes" ng-init="att = model.trackedEntityAttributes[pat.trackedEntityAttribute.id]">
                        <td>
                            {{att.displayName}}
                        </td>
                        <td>
                            <ng-form name="innerProfileForm">
                                <div ng-if="att.optionSetValue">
                                    <ui-select ng-model="model.art.attributeValues[att.id]"
                                               ng-required="pat.mandatory"
                                               ng-disabled="addOrEditArtDenied() || !model.editProfile"
                                               name="foo"
                                               theme="select2"
                                               style="width:100%;">
                                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.optionSets[att.optionSet.id].options && model.optionSets[att.optionSet.id].options.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="option.displayName as option in model.optionSets[att.optionSet.id].options | filter: $select.search | limitTo:maxOptionSize">
                                            <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div ng-if="!att.optionSetValue" ng-switch="att.valueType">
                                    <div ng-switch-when="NUMBER">
                                        <input type="number"
                                               name="foo"
                                               class="form-control pull-center"
                                               ng-disabled="addOrEditArtDenied() || !model.editProfile"
                                               ng-required="pat.mandatory"
                                               ng-model="model.art.attributeValues[att.id]">
                                    </div>
                                    <div ng-switch-when="TEXT">
                                        <input type="text"
                                               name="foo"
                                               class="form-control pull-center"
                                               ng-disabled="addOrEditArtDenied() || !model.editProfile"
                                               ng-required="pat.mandatory"
                                               ng-model="model.art.attributeValues[att.id]">
                                    </div>
                                    <div ng-switch-when="LONG_TEXT">
                                        <textarea rows="3"
                                                  name="foo"
                                                  class="form-control pull-center"
                                                  ng-disabled="addOrEditArtDenied() || !model.editProfile"
                                                  ng-required="pat.mandatory"
                                                  ng-model="model.art.attributeValues[att.id]">
                                        </textarea>
                                    </div>
                                    <div ng-switch-when="DATE">
                                        <input type="text"
                                               ng-attr-placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                               name="foo"
                                               class="form-control pull-center"
                                               d2-date
                                               ng-disabled="addOrEditArtDenied() || !model.editProfile"
                                               ng-required="pat.mandatory"
                                               ng-model="model.art.attributeValues[att.id]"/>
                                    </div>
                                </div>
                                <span ng-messages="innerProfileForm.foo.$error" ng-if="interacted(innerProfileForm.foo)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html"></span>
                            </ng-form>
                        </td>
                    </tr>
                </table>
                <div class="row" ng-if="model.editProfile">
                    <div class="col-sm-12">
                        <button type="button"
                                class="btn btn-info"
                                ng-click="updateArt()">
                            {{'update'| translate}}
                        </button>
                        <button type="button"
                                class="btn btn-danger horizontal-spacing"
                                ng-click="cancelEditProfile()">
                            {{'cancel'| translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

